<launch>
<!-- <node pkg="local_gridmap" type="local_gridmap_node" name="local_gridmap_node" output="screen"></node> -->
<!--<node name="goal_set" pkg="goal_set" type="goal_set" />-->
<node name="lane_ends" pkg="goal_set" type="lane_ends" /> 
<!--<node name="local_goal_setter" pkg="goal_set" type="local_goal_setter" />-->
<node name="tf_broadcaster" pkg="hybrid_astar" type="tf_broadcaster" />
<node name="rviz" pkg="rviz" type="rviz" args="-d $(env HOME)/.rviz/path_planner.rviz" />
<node name="map_server" pkg="map_server" type="map_server" args="$(find hybrid_astar)/maps/map.yaml" /> 
<!--<node name="hybrid_astar" pkg="hybrid_astar" type="hybrid_astar" />-->
<!-- <node name="vel_arr" pkg="goal_set" type="vel_arr" /> -->
<node name="status_e2o" pkg="goal_set" type="status_e2o" />
<!--<node name="talker_e2o_loc_vel" pkg="goal_set" type="talker_e2o_loc_vel" />-->
</launch>
